.tag-add-btn-group {
  width: 150px;
  margin: 0 auto 10px;
  position: relative;
}

.user-tag-submit-link {
  height: 35px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}