.match-signs-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.match-signs-title {
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: rgb(49, 49, 49);
  background-color: rgb(255, 230, 202);

  h2 {
    font-weight: bold;
    margin-left: 5px;
  }
}

.match-signs, .talk-rooms {
  height: 192px;
  width: calc(100% - 50px - 50px);
  display: flex;
  margin: 0 auto 10px;
  overflow: scroll;
}

.match-signs-none {
  padding-top: 70px;
  height: 122px;
  width: 100%;
  text-align: center;
  font-size: 16px;

  p {
    font-weight: bold;
  }
}


.match-sign {
  height: 156px;
  width: 220px;
  margin: 10px 10px 10px 0;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.match-talk-room {
  height: 156px;
  width: 220px;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.match-sign-header {
  width: 220px;
  display: flex;
  align-items: center;

  p {
    font-size: 12px;
    color: gray;
  }
}

.match-sign-tags {
  max-height: 95px;
  margin: 5px 0 0 5px;
  border-top: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.match-sign-tag {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 3px;
  margin:5px 5px 0 0;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.match-sign-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 166px;
  width: 230px;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background-color: gray;
    opacity: 0.3;
  }
}

.more-signs-link {
  line-height: 156px;
  width: 220px;
  margin: 10px 10px 10px 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  color: gray;
  display: block;

  &:hover {
    background-color: gray;
    color: black;
    opacity: 0.4;
  }
}

.match-signs-back, .talk-rooms-back {
  position: absolute;
  top: 140px;
  left: 10px;
  color: gray;
  cursor: pointer;
}

.match-signs-next, .talk-rooms-next {
  position: absolute;
  top: 140px;
  right: 10px;
  color: gray;
  cursor: pointer;
}

.sign-action-btn {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  border: 3px solid #f8d7ae;
  background-color: #fff;

  i {
    position: absolute;
    top: 7px;
    right: 10px;
    color: gray;
  }
}

.sign-action-link {
  line-height: 30px;
  width: 180px;
  font-size: 16px;
  text-align: start;
  display: block;
  color: gray;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &:hover {
    background-color: rgba(255, 211, 116, 0.3);
  }
}

.match-user-tags {
  max-height: 67px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.match-user-room {
  position: relative;
}

.user-room-link {
  position: absolute;
  left: 65px;
  bottom: 4px;
  padding: 1px 5px;
  font-size: 13px;
  color: dimgray;
  border: 1px solid dimgray;
  border-radius: 5px;

  &:hover {
    background-color: rgba(180, 180, 180, 0.3);
  }
}