@import "./variables";

.sign-actions {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.sign-action-wrap {
  width: 30%;
  margin: 0 12px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}

.sign-action-info {
  height: 45vh;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sign-btn {
  width: 100%;
  padding: 3vh 0;
  font-size: 2.3vw;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: lightgray;
  
  &:hover {
    background-color: #adceff;
  }
}

.action-link-text {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: calc(70% + (30% - 25px) / 2);

  h1 {
    font-weight: bold;
  }
}
