.sign-search-btn {
  height: 50px;
  width: 40%;
  margin: 50px auto 50px;display: block;
  background-color: #c34aff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  
  &:hover {
    background-color: #9c3bcc;
  }
}