@import "./variables.scss";

.sign-search-btn {
  padding: 10px 30px;
  margin: 20px auto 0;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #177ee6;
  color: #fff;
  cursor: pointer;
}