.search-content-wrap {
  width: 90%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.result-sign-wrap {
  width: 47.5%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 1%;
  display: flex;
  position: relative;
}

.result-sign-wrap-left {
  padding: 15px 10px;
}

.result-sign-wrap-right {
  padding-top: 15px;
}

.sign-tags {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.sign-tag {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 3px;
  margin:5px 5px 0 0;
  font-size: 14px;
}

.result-sign-wrap-link {
  position: absolute;
  height: calc(150px + 15px + 15px + 4px);
  border-radius: 10px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.result-text {
  text-align: center;
  
  h1 {
    margin: 5px 0;
    font-weight: bold;
  }
}


.back-btn {
  line-height: 40px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #177ee6;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}