.sign-show-top {
  width: 90%;
  margin: 30px auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-show-user-nickname {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.sign-show-time {
  text-align: center;
  
  p {
    color: gray;
    margin-bottom: 10px;
  }
}

.sign-edit-icons {
  width: 20px;
  display: flex;
  margin: 0 0 0 auto;
}

.edit-icon-box {
  margin-right: 10px;
  position: relative;

  .fas.fa-edit {
    color: gray;
  }
}

.sign-edit-link {
  height: 20px;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;
}



.delete-icon-box {
  position: relative;

  .fas.fa-trash-alt {
    color: gray;
  }
}

.sign-delete-link {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.favo-icon-box {
  height: 2em;
  width: 100%;
  position: relative;

  .far.fa-heart {
    height: 32px;
    width: 36px;
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
  }

  .fas.fa-heart {
    height: 32px;
    width: 36px;
    color: #e6bf00;
    position: absolute;
    top: 0;
    right: 0;
  }

  .favo-link {
    height: 32px;
    width: 36px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sign-spot-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  h1 {
    font-size: 18px;
  }
}

.info-title {
  margin-right: 10px;

  h1 {
    font-size: 14px;
    font-weight: bold;
  }
}

.info-value h1{
  font-weight: bold;
}



.sign-title {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px;

  h2 {
    padding: 0 20px;
    background-color: gray;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
  }
}

.sign-show-tags {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sign-content {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.sign-content p{
  font-size: 18px;
}

.sign-show-talk-btn {
  line-height: 50px;
  width: 140px;
  display: block;
  margin: 60px auto 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #177ee6;
  color: #fff;
  
  &:hover {
    background-color: #166dc4;
  }
}

.sign-show-close-btn {
  line-height: 30px;
  width: 140px;
  display: block;
  margin: 30px auto 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  
  &:hover {
    background-color: lightgray;
  }
}