@import "./variables.scss";

.footer-main {
  height: 70px;
  width: 100vw;
  background-color: #deb887;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: #fff;
}