.footer-main {
  height: 150px;
  width: 100vw;
  background-color: #864628be ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: #fff;
}