@import "./variables";

.header-main {
  height: 60px;
  width: 100vw;
  display: flex;
  background-color: #fffaf0;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

.logo {
  height: 35px;
  width: 100px;
  margin-left: 20px;
  object-fit: contain;
}

.header-right {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sign-up-btn {
  margin-right: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;

  &:hover {
    color: darkgray;
  }
}

.login-btn {
  margin-right: 100px;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.user-nickname-header {
  color: $black;
  text-decoration: none;
  margin-right: 10px;
}

.user-icon-btns {
  height: 60px;
  margin-right: 100px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

}
.user-icon-header {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.user-icon-image-header {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 25px;
  object-fit: cover;
}

.user-icon-btn {
  height: 8px;
  width: 12px;
}

.user-menu {
  
  border: 1px solid lightgray;
  position: absolute;
  top: 60px;
  left: -75px;
  font-size: 15px;
  background-color: #fff;

  li {
    border-bottom: 1px solid lightgray;
  }

  li:nth-last-child(1) {
    border-bottom: none;
  }
}

.user-menu-list {
  width: 150px;
  padding: 10px;
  color: black;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: lightgray;
  }

  
}