.messages-container {
  min-height: calc(100vh - 60px);
  width: 100vw;
  background-color: #f5f5f5;
}

.room-title-wrap {
  height: 50px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  background-color: #fdfcf7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    font-size: 25px;
  }
}

.room-back-btn {
  position: absolute;
  top: 9px;
  left: 10px;
  color: gray;
}

.room-back-link {
  position: absolute;
  top: 10px;
  left: 11px;
  height: 31px;
  width: 30px;
  border-radius: 16px;

  &:hover {
    background-color: gray;
    opacity: 0.3;
  }
}



.messages-content-wrap {
  height: calc(100vh - 60px - 40px - 120px);
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: #fff;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.message-wrap {
  width: calc(100% - 20px);
  padding: 7px 10px;
}

.message-wrap-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.message-wrap-left {
  display: flex;
  align-items: flex-end;
}

.message {
  max-width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 8px;
  display: inline-block;
  font-size: 14px;
}

.message-time {
  font-size: 12px;
  color: gray;
  margin: 0 5px 2px;;
}

.message-form {
  height: 110px;
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fdfcf7;
  border-top: 1px solid lightgray;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.input-message {
  font-size: 16px;
  height: 70px;
  width: calc(100% - 10px - 10px - 10px - 10px - 10px - 60px - 10px);
  padding: 10px;
  margin: 0 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  resize: none;


  &:focus {
    outline: none;
  }
}

.submit-message {
  height: 90px;
  width: 70px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  font-size: 16px;
  color: gray;

  &:hover {
    background-color: #b7daf0;
    color: #fff;
  }
}