.spot-submit-btn {
  height: 50px;
  width: 140px;
  margin: 50px auto 50px;
  display: block;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #177ee6;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  
}