.spot-submit-btn {
  height: 50px;
  width: 140px;
  margin: 50px auto 50px;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  
  &:hover {
    background-color: lightgray;
  }
}