.user-icon-default {
  height: 10vw;
  max-height: 100px;
  width: 10vw;
  max-width: 100px;
  margin-right: 20px;
}

.user-icon-default-large {
  height: 20vw;
  width: 20vw;
  border-radius: 10vw;
}

.user-icon-image {
  height: 10vw;
  max-height: 100px;
  width: 10vw;
  max-width: 100px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}


.user-icon-image-small {
  height: 40px;
  width: 40px;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 20px;
  object-fit: cover;
}

.user-icon-image-large {
  height: 18vw;
  width: 18vw;
  border-radius: 9vw;
  object-fit: cover;
}

.user-icon-small {
  height: 40px;
  width: 40px;
  margin: 0 10px;
  font-size: 18px;
}

.icon-preview {
  display: flex;
  justify-content: center;
}

#current-preview-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 3px solid lightgray;
  margin-bottom: 30px;
  object-fit: cover;
}

.sign-wrap {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  text-decoration: none;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
  &:hover {
    background-color: lightgray;
  }

  &:last-child {
    border-bottom: none;
  }
}

.sign-user-nickname {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.sign-send-time {
  margin-right: 10px;
  font-size: 14px;
}
