@import "./variables.scss";

.bg {
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: image-url("kumao1.jpg");
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 80px;
  left: 0;
}

.main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $bg-color;
}

.content-wrap {
  width: 95%;
  max-width: 1200px;
  background-color: #fff;
  margin-top: 60px;
}

.content-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.form-title {
  font-size: 25px;
  text-align: center;
  background-color: #fff;
  margin: 40px 0 20px;

  h1 {
    font-weight: bold;
  }
}

.form-sub-title {
  line-height: 25px;
  width: 240px;
  border-radius: 20px;
  text-align: center;
  margin: 50px auto 30px;
  color: #fff;
  background-color: $sub-theme-color;
}

.form-explanation {
  line-height: 30px;
  width: 450px;
  border-radius: 20px;
  border: 2px solid $black;
  text-align: center;
  margin: 60px auto 40px;

  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.form-wrap {
  width: 40%;
  border-radius: 15px;
  background-color: #fff;
}

.form-wrap-big {
  width: 60%;
  border-radius: 15px;
  background-color: #fff;
  margin: calc(10vh + 40px) 0 60px;
}

.form-group {
  width: 80%;
  margin: 0 auto 10px;

  p {
    font-weight: bold;
  }
}

.form-group-split {
  display: flex;
  width: 60%;
  margin: 0 auto 10px;

  p {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.form-left {
  width: calc(50% - 5px);
  margin-right: 10px;
}

.form-right {
  width: calc(50% - 5px);
}

.form-select-box-m {
  width: 50%;
  color: black;
  border: 1px solid $black;
  border-radius: 5px;
}

.form-select-box-l {
  width: 100%;
  color:  $black;
  
}

.input-default {
  font-size: 16px;
  height: 35px;
  width: calc(100% - 5px);
  padding-left: 5px;
  border: 1px solid $black;
  border-radius: 5px;
}

.input-default-mini { 
  font-size: 16px;
  height: 35px;
  width: calc(50% - 5px);
  padding-left: 5px;
  border: 2px solid $black;
  border-radius: 5px;

  &:hover {
    border: 2px solid #4176e0;
  }
}

.hide {
  display: none;
}

.btn {
  text-decoration: none;
}