@import "./variables.scss";

.bg {
  height: calc(100vh - 60px);
  width: 100vw;
  background-image: image-url("kumao1.jpg");
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 80px;
  left: 0;
}

.main-container {
  min-height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container {
  min-height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.content-wrap {
  width: 95%;
  max-width: 1200px;
  background-color: #fff;
}

.content-wrap-mini {
  width: 60%;
  max-width: 1200px;
  background-color: #fff;
}

.content-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.form-flash-message {
  width: 80%;
  margin: 0 auto 20px;
  color: #a0522d;
}

.devise-error-explanation {
  width: 80%;
  color: #a0522d;
  margin: 0 auto 20px;
}

#errors_explanation li {
  color: #a0522d;
}

.form-title {
  font-size: 25px;
  text-align: center;
  background-color: #fff;
  margin: 40px 0 20px;

  h1 {
    font-weight: bold;
  }
}

.form-sub-title {
  line-height: 25px;
  width: 240px;
  border-radius: 20px;
  text-align: center;
  margin: 50px auto 30px;
  color: #fff;
  background-color: $sub-theme-color;
}

.form-explanation {
  width: 100%;
  margin: 45px 0 20px;
  display: flex;
  justify-content: center;

  h2 {
    padding: 1px 30px;
    border-radius: 20px;
    border: 2px solid $black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: block;
  }
}

.form-wrap {
  max-height: calc(100vh - 60px - 100px);
  width: 40%;
  border-radius: 15px;
  background-color: #fff;
  overflow: scroll;
}

.form-wrap-big {
  width: 70%;
  border-radius: 15px;
  background-color: #fff;
}

.form-group {
  width: 80%;
  margin: 0 auto 10px;

  p {
    font-weight: bold;
  }
}

.form-group-narrow {
  width: 50%;
  margin: 0 auto 10px;

  p {
    font-size: 14px;
    font-weight: bold;
  }
}

.form-group-split {
  display: flex;
  width: 50%;
  margin: 0 auto 10px;

  p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
}

.form-left {
  width: calc(50% - 5px);
  margin-right: 10px;
}

.form-right {
  width: calc(50% - 5px);
}

.form-select-box-m {
  height: 27px;
  width: 50%;
  color: black;
  border: 1px solid $black;
  border-radius: 5px;
}

.form-select-box-l {
  height: 27px;
  width: 100%;
  color:  $black;
  color: black;
  border: 1px solid $black;
  border-radius: 5px;
}

.input-default {
  font-size: 16px;
  height: 25px;
  width: calc(100% - 5px);
  padding-left: 5px;
  border: 1px solid $black;
  border-radius: 5px;
}

.input-default-mini { 
  font-size: 16px;
  height: 35px;
  width: calc(50% - 5px);
  padding-left: 5px;
  border: 2px solid $black;
  border-radius: 5px;

  &:hover {
    border: 2px solid #4176e0;
  }
}

.birth-date-form {
  width: 50%;
  display: flex;

  .field_with_errors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 15px);
  }
}

.hide {
  display: none;
}

.btn {
  text-decoration: none;
}

input:focus {
  outline: none;
}