.top-container {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.top-text-wrap {
  width: 30%;
}


.app-slogan {
  margin-bottom: 20px;
  font-size: 35px;
  h1 {
    font-weight: bold;
  }
}

.app-explanation-btn {
  width: 250px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background-color: #a0522d;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 60px;
  cursor: pointer;

  h1 {
    font-weight: bold;
  }

  &:hover {
    background-color: #804124;
    color: lightgray;
  }
}

.top-image-wrap {
  width: 40%;
  display: flex;
}

.top-image {
  max-height: 450px;
  max-width: 450px;
  object-fit: cover;
  margin: 0 auto;
}

.app-explanation-bg {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.app-explanation-container {
  width: 100vw;
}


.app-explanation-wrap {
  width: 100%;
  background-color: #fffcf5;
}

.app-explanation-wrap-title {
  width: 100%;
  padding: 50px 0 20px;
  text-align: center;
  background-color: #fffcf5;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

.app-explanation-title {
  padding-top: 60px;
  text-align: center;

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.app-explanation-text {
  text-align: center;
}

.app-explanation-image {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.app-explanation-image-1 {
  height: 180px;
  object-fit: contain;
}

.app-explanation-image-2 {
  height: 200px;
  object-fit: contain;
}

.app-explanation-image-3 {
  height: 250px;
  object-fit: contain;
  margin-bottom: 40px;
}



.app-explanation-group {
  width: 50%;
  margin: 0 auto;
}

.app-explanation-back-btn {
  line-height: 20px;
  width: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;

  h1 {
    text-align: center;
    font-size: 20px;
  }
}

.app-explanation-next-btn {
  line-height: 20px;
  width: 50px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;

  h1 {
    text-align: center;
    font-size: 20px;
  }
}

.app-explanation-back-none {
  height: 20px;
  width: 50px;
  border: 2px solid #fff;
  margin-right: 10px;
}

.app-explanation-next-none {
  height: 20px;
  width: 50px;
  border: 2px solid #fff;
  margin-left: 10px;
}

.app-explanation-bg.active {
  display: block;
}

.app-explanation-container.active {
  display: flex;
}

.app-explanation-wrap.active {
  display: block;
}

.app-explanation-btns {
  margin-top: 20px;
}

.explanation-sign-up {
  width: 160px;
  line-height: 40px; 
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  background-color: #177ee6;

  &:hover {
    background-color: #1366b9;
  }
}

.explanation-login {
  width: 90px;
  text-align: center;
  display: block;
  color: black;
  font-size: 14px;
  margin: 5px auto 30px;

  &:hover {
    color: gray;
  }
}