.users-signs-box {
  max-height: 200px;
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  overflow: scroll;
}

.users-sign-wrap {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

// .sign-favo-icon {
//   height: 20px;
//   width: 20px;
//   color: #e6bf00;
//   margin-left: 10px;
// }

// .favo-message {
//   font-size: 12px;
//   color: #e6bf00;
// }

.image-input-btn {
  line-height: 25px;
  width: 140px;
  text-align: center;
  margin: 10px auto 0;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}

.user-edit-submit {
  line-height: 40px;
  width: 110px;
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #177ee6;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 40px auto 30px;
}