.image-input-btn {
  line-height: 25px;
  width: 140px;
  text-align: center;
  margin: 10px auto 0;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    background-color: lightgray;
  }
}

