.user-show-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: lightgray;
}

.user-info-wrap {
  width: 60%;
  background-color: #fff;
}

.wrap-title {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
  text-align: center;

  h1 {
    font-weight: bold;
  }
}

.user-icon {
  display:flex;
  justify-content: center;
}

.icon-box {
  position: relative;
}

.user-nickname {
  width: 50%;
  margin: 0 auto 10px;
  padding-top: 10px;
  text-align: center;

  p {
    font-size: 25px;

  }
}

.user-edit-btn {
  width: 100px;
  margin: 0 auto;
}

.user-edit-link {
  width: 100%;
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #177ee6;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.user-icon-file {
  height: 18vw;
  width: 18vw;
  border-radius: 9vw;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#edit-effect{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.user-info-title {
  text-align: center;

  h1 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    color: gray;
  }
}

.user-info {
  width: 90%;
  font-size: 18px;
  margin: 20px auto 0;
  padding-top: 10px;
  border-top: 1px solid lightgray;

  h2 {
    color: gray;
    margin-left: 15px;
  }

  p {
    margin:0 0  10px 15px;
  }

  &:last-child {
    margin-bottom: 40px;
  }
}

.signs-wrap {
  max-height: 480px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid gray;
  overflow: scroll;
}

