.wrap-title {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
  text-align: center;

  h1 {
    font-weight: bold;
  }
}

.user-icon {
  display:flex;
  justify-content: center;
}

.user-nickname {
  min-width: 230px;
  padding: 2px 10px;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  font-size: 22px;
}

.user-info-title {
  text-align: center;

  h1 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    color: gray;
  }
}

.user-info {
  width: 90%;
  font-size: 18px;
  margin: 20px auto 0;
  padding-top: 10px;
  border-top: 1px solid lightgray;

  h2 {
    color: gray;
    margin-left: 15px;
  }

  p {
    margin:0 0  10px 15px;
  }

  &:last-child {
    margin-bottom: 40px;
  }
}

.user-show-tags {
  width: 80%;
  padding: 5px 5px 10px 5px;
  margin: 10px auto 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #fff;
}

.profile-tag-none {
  color: gray;
}