

.registration-title {
  font-size: 25px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;

  h1 {
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }
}

.birth-date-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

select {
  height: 35px;
  padding-left: 5px;
  color: gray;
}

.sign-up-next-btn {
  height: 50px;
  width: 100%;
  margin: 20px 0 10px;
}

.login-text {
  display: flex;
  justify-content: center;
}

.login-link {
  text-decoration: none;
  font-size: 16px;
  color: gray;
  text-align: center;
  margin-bottom: 20px;
}