// ログインモーダル
.modal-bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: #e2f2ff;
  opacity: 0.8;
}

.modal-main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-group {
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.modal-close-btn {
  width: 100%;
  text-align: right;
  position: relative;
}

.modal-close-icon {
  width: 35px;
  font-size: 35px;
  padding: 10px 15px 0 0;
  cursor: pointer;
}

.modal-close-link {
  height: 35px;
  width:35px;
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
}

.devise-submit {
  width: 100%;
  display: flex;
  font-weight: bold;
}

.devise-submit-btn {
  height: 50px;
  width: 150px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #4169e1;
  cursor: pointer;
  margin: 10px auto 0;

  &:hover {
    background-color: #3757b9;
  }
}

.sign-up-text {
  width: 70px;
  margin: 0 auto 50px;
}

.sign-up-link {
  text-decoration: none;
  font-size: 16px;
  color: gray;
  text-align: center;

  &:hover {
    color: darkgray;
  }
}